<div class="home-buttons">
  <a href="{{ site.reg-link }}" target="_blank" style="display: inline-block;">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored
		mdl-js-ripple-effect" style="border-radius: 1000px;">
	  Sign up!
    </button>
  </a>
  <a href="#about" style="display: inline-block;">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
	  style="border: 2px solid white; border-radius: 1000px;">
	  Learn more
    </button>
  </a>
</div>
