<div class="home-button my-mdl-button">

{% if site.registration_open %}
  <a href="{{ site.reg_link }}" target="_blank" rel="noopener noreferrer">
{% else %}
  <a href="{{ site.reg_closed_url }}">
{% endif %}

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored
		mdl-js-ripple-effect" style="border-radius: 1000px;">
	  Sign up!
    </button>
  </a>
  <a href="#about">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
	  style="border: 2px solid white; border-radius: 1000px;">
	  Learn more
    </button>
  </a>
</div>
