---
title: false
styles: true
---


// Background colours
$accentColour: #00b8d4 !default;

// Text colours
$headingColour: #002426 !default;
$bodyColour: #00363a !default;
$linkColour: #00b8d4 !default;
$hoverColour: #0088a3 !default;
$focusColour: #ff5722 !default;


@import "alembic";


.feature {
  .container {
    min-height: 90vh;
  }
  h1, h2, h3, h4, h5, h6, p {
	color: $white;
  }
  h1 {
	font-size: 5rem;
	margin-bottom: 0.5rem;
	padding-top: 0.5rem;
  }
  h2 {
	font-size: 1.5rem;
	margin-bottom: 2rem;
	padding-top: 0.5rem;
  }
}

.logo {
  max-height: 3rem;
  img {
	max-height: 3rem;
  }
}

.item {
  &--current {
	a {
	  color: $linkColour;
	}
    a:hover, a:active, a:focus {
	  color: $hoverColour;
    }
  }
}
